<div class="container my-5">
    <h2 class="text-center mb-4">Dashboard</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Active Users</h5>
            <h3 Class="text-success">{{ dashboardCards.activeUser }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Super Admin Users</h5>
            <h3 Class="text-primary">{{ dashboardCards.superAdminUser }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Admin Users</h5>
            <h3 Class="text-primary">{{ dashboardCards.adminUser }}</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Normal Users</h5>
            <h3 Class="text-info">{{ dashboardCards.normalUser }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  